{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-multi-assign": "off",
    "max-len": ["error", 150],
    "new-cap": [2, {
      "capIsNewExceptions": ["Velocity"]
    }]
  }
}
